.hero{
    /* border: 5px solid red; */
     height: 300px;
}


.trending{
    text-align: center;
    font-size: 20px;
    padding: 90px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}