


.navigation{
    display: flex;
    padding: 10px 20px;
    gap: 100px;    
    width: 1000px;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
  }
  
  .navigation .Navlogo img{
     width: 170px;
  }
  
  .navigation nav{
     margin: 0px 35px;
  }
  
  .navigation nav ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 30px;
    font-size: 16px;
    justify-content: space-between;
  }

  .navigation nav ul li:link {
    color: red;
    
  }


  
  .navigation .chatBtn{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border: 4px solid green;
    background-color: green;
    padding: 7px 10px;
    text-align: center;
    color: white;
    width: 230px;
    align-items: center;
    border-radius: 30px;
  }
  
  .navigation .chatBtn img{
    
   width: 30px;
   height: 30px;
   
  }
  
  .chatBtn-mobile{
    display: none;
  }

/* Hide the menu by default on mobile */
/* .nav-links {
  display: none;
} */

/* Show menu when the hamburger is clicked */
.nav-links.open {
  display: block;
}

/* Hamburger button styles */
.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}


  /*   Header end        */
  
  @media  (max-width: 1200px){
    .header{ 
      display: flex;
    }
    
    
    .navigation{
      display: flex;
      margin: 0 auto;
      width: 900px;
      padding: 10px 20px;
      gap: 200px;
      justify-content: center;
      /* border-bottom: 2px solid grey; */
      align-items: center;
        
    }

    .navigation .chatBtn{
      display: flex;
      gap: 10px;
      justify-content: space-between;
      border: 4px solid green;
      background-color: green;
      padding: 7px 20px;
      text-align: center;
      color: white;
      align-items: center;
      border-radius: 30px;
    }

    .navigation nav{
      margin: 0px 35px;
      display: none;
   }
   
   .navigation nav ul{
     display: flex;
     text-decoration: none;
     list-style-type: none;
     gap: 50px;
     font-size: 20px;
     justify-content: space-between;
   }
 
   .chatBtn-mobile{
    display: none;
   }
  
  }


/* Mobile responsiveness */
@media (max-width: 768px) {
 
  
  .navigation .Navlogo img{
    width: 100px;
 }
  
  .hamburger {
    display: block; /* Show hamburger on mobile */
  }

  nav ul {
    display: none;
    
  }

  nav.open ul {
    display: block;
    position: absolute;
    background-color: #fff;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  nav ul li {
    margin: 15px 0;
    text-align: center;
  }

  
  .navigation .chatBtn{
   display: none;
  
}









}




